#Series- Data Type

In [ ]:
import numpy as np
import pandas as pd

#Create a Series

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [ ]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
type(pd.Series(data = my_list))

pandas.core.series.Series

In [ ]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
#using array

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr, index = labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
#using dict

In [ ]:
pd.Series(data = d)

a    10
b    20
c    30
dtype: int64

#Using Index in Series

In [ ]:
sales_Q1  = pd.Series(data = [250,450,200,150], index  = ['USA', 'China', 'India', 'Brazil'])

In [ ]:
sales_Q1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [ ]:
sales_Q2  = pd.Series(data = [260,500,210,100], index  = ['USA', 'China', 'India', 'Japan'])

In [ ]:
sales_Q2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [ ]:
sales_Q1['India']

200

In [ ]:
sales_Q2['India']

210

In [ ]:
sales_Q2[2]

210

In [ ]:
sales_Q1['Russia']

In [ ]:
sales_Q1['USA ']

#Operations

In [ ]:
sales_Q1 + sales_Q2

#DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
index = ['A','B','C','D','E']
columns = ['W','X','Y','Z']

In [ ]:
from numpy.random import randint

In [ ]:
np.random.seed(42)
data = np.random.randint(-100,100,(5,4))

In [ ]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [ ]:
df = pd.DataFrame(data, index, columns)

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

#Section and Indexing

#Columns

In [ ]:
df['W']

A     2
B     6
C     2
D    16
E    30
Name: W, dtype: int64

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df[['W', 'Z']]

    W   Z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

In [ ]:
type(df[['W', 'Z']])

pandas.core.frame.DataFrame

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [ ]:
df.drop('new', axis = 1)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [ ]:
df.drop('new', axis = 1, inplace = True)

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

#Work with Rows

In [ ]:
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [ ]:
type(df.loc['A'])

pandas.core.series.Series

In [ ]:
df.loc[['A','B','E']]

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
E  30  49 -48 -99

In [ ]:
df.iloc[0]

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [ ]:
df.iloc[0:3]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80
C  2  21 -26 -13

In [ ]:
df.drop('A', axis = 0)

    W   X   Y   Z
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df.drop('A')

    W   X   Y   Z
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df.loc[['A','C'], ['W', 'Y']]

   W   Y
A  2  -8
C  2 -26

In [ ]:
df.loc[['B','D'],['X','Z']]

    X   Z
B -29 -80
D  -1  51

#Conditional Selection

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df>0

      W      X      Y      Z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [ ]:
df[df>0]

    W     X     Y     Z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [ ]:
df['X']>0

A     True
B    False
C     True
D    False
E     True
Name: X, dtype: bool

In [ ]:
df[df['X']>0]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df[(df['Z']>0) & (df['Y']>1)]

    W  X  Y   Z
D  16 -1  3  51

In [ ]:
df[(df['Z']>0) & (df['Y']>1)]

    W  X  Y   Z
D  16 -1  3  51

In [ ]:
df[(df['Z']>0) | (df['Y']>1)]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

In [ ]:
df[(df['Z']>0) & (df['Y']>1) | (df['X']>9) ]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df.reset_index()

  index   W   X   Y   Z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [ ]:
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [ ]:
newindex = ['UP','MP', 'AP', 'TN', 'JK']

In [ ]:
newindex

['UP', 'MP', 'AP', 'TN', 'JK']

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df['NewIndex'] = newindex

In [ ]:
df

    W   X   Y   Z NewIndex
A   2  79  -8 -86       UP
B   6 -29  88 -80       MP
C   2  21 -26 -13       AP
D  16  -1   3  51       TN
E  30  49 -48 -99       JK

In [ ]:
df.set_index('NewIndex')

           W   X   Y   Z
NewIndex
UP         2  79  -8 -86
MP         6 -29  88 -80
AP         2  21 -26 -13
TN        16  -1   3  51
JK        30  49 -48 -99

In [ ]:
df

    W   X   Y   Z NewIndex
A   2  79  -8 -86       UP
B   6 -29  88 -80       MP
C   2  21 -26 -13       AP
D  16  -1   3  51       TN
E  30  49 -48 -99       JK

In [ ]:
df = df.set_index('NewIndex')

In [ ]:
df

           W   X   Y   Z
NewIndex
UP         2  79  -8 -86
MP         6 -29  88 -80
AP         2  21 -26 -13
TN        16  -1   3  51
JK        30  49 -48 -99

In [ ]:
df.loc['TN']

W    16
X    -1
Y     3
Z    51
Name: TN, dtype: int64

In [ ]:
df['newIn'] = ['India', 'India', 'Germany', 'Japan', 'China']

In [ ]:
df

           W   X   Y   Z    newIn
NewIndex
UP         2  79  -8 -86    India
MP         6 -29  88 -80    India
AP         2  21 -26 -13  Germany
TN        16  -1   3  51    Japan
JK        30  49 -48 -99    China

In [ ]:
df.set_index('newIn')

          W   X   Y   Z
newIn
India     2  79  -8 -86
India     6 -29  88 -80
Germany   2  21 -26 -13
Japan    16  -1   3  51
China    30  49 -48 -99

In [ ]:
df.set_index('newIn').loc['India']

       W   X   Y   Z
newIn
India  2  79  -8 -86
India  6 -29  88 -80

In [ ]:
df.describe()

              W          X          Y          Z
count   5.00000   5.000000   5.000000   5.000000
mean   11.20000  23.800000   1.800000 -45.400000
std    11.96662  42.109381  51.915316  63.366395
min     2.00000 -29.000000 -48.000000 -99.000000
25%     2.00000  -1.000000 -26.000000 -86.000000
50%     6.00000  21.000000  -8.000000 -80.000000
75%    16.00000  49.000000   3.000000 -13.000000
max    30.00000  79.000000  88.000000  51.000000

In [ ]:
df.dtypes

W         int64
X         int64
Y         int64
Z         int64
newIn    object
dtype: object

In [ ]:
df

           W   X   Y   Z    newIn
NewIndex
UP         2  79  -8 -86    India
MP         6 -29  88 -80    India
AP         2  21 -26 -13  Germany
TN        16  -1   3  51    Japan
JK        30  49 -48 -99    China

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, UP to JK
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      int64
 1   X       5 non-null      int64
 2   Y       5 non-null      int64
 3   Z       5 non-null      int64
 4   newIn   5 non-null      object
dtypes: int64(4), object(1)
memory usage: 412.0+ bytes

In [ ]:
df = pd.read_csv('Universities.csv')

In [ ]:
df.head(5)

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [ ]:
df.groupby('Year')

In [ ]:
df.groupby('Year').mean()

<ipython-input-85-bca8f719f7cd>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()

      Completions
Year
2012   535.078947
2013   526.150000
2014   588.809524
2015   597.250000
2016   609.860465

In [ ]:
df.groupby('Year').count()

      Sector  University  Completions  Geography
Year
2012      38          38           38         38
2013      40          40           40         40
2014      42          42           42         42
2015      44          44           44         44
2016      43          43           43         43

In [ ]:
df.groupby('Year').mean().sort_index(ascending= False)

<ipython-input-89-1ac73fbf4796>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean().sort_index(ascending= False)

      Completions
Year
2016   609.860465
2015   597.250000
2014   588.809524
2013   526.150000
2012   535.078947

<table><td><tt
><span
>count</span></tt></td><td>Number of non-null observations</td></tr><tr
><td><tt
><span
>sum</span></tt></td><td>Sum of values</td></tr><tr
><td><tt
><span
>mean</span></tt></td><td>Mean of values</td></tr><tr
><td><tt
><span
>mad</span></tt></td><td>Mean absolute deviation</td></tr><tr
><td><tt
><span
>median</span></tt></td><td>Arithmetic median of values</td></tr><tr
><td><tt
><span
>min</span></tt></td><td>Minimum</td></tr><tr
><td><tt
><span
>max</span></tt></td><td>Maximum</td></tr><tr
><td><tt
><span
>mode</span></tt></td><td>Mode</td></tr><tr
><td><tt
><span
>abs</span></tt></td><td>Absolute Value</td></tr><tr
><td><tt
><span
>prod</span></tt></td><td>Product of values</td></tr><tr
><td><tt
><span
>std</span></tt></td><td>Unbiased standard deviation</td></tr><tr
><td><tt
><span
>var</span></tt></td><td>Unbiased variance</td></tr><tr
><td><tt
><span
>sem</span></tt></td><td>Unbiased standard error of the mean</td></tr><tr
><td><tt
><span
>skew</span></tt></td><td>Unbiased skewness (3rd moment)</td></tr><tr
><td><tt
><span
>kurt</span></tt></td><td>Unbiased kurtosis (4th moment)</td></tr><tr
><td><tt
><span
>quantile</span></tt></td><td>Sample quantile (value at %)</td></tr><tr
><td><tt
><span
>cumsum</span></tt></td><td>Cumulative sum</td></tr><tr
><td><tt
><span
>cumprod</span></tt></td><td>Cumulative product</td></tr><tr
><td><tt
><span
>cummax</span></tt></td><td>Cumulative maximum</td></tr><tr
><td><tt
><span
>cummin</span></tt></td><td>Cumulative minimum</td></tr></tbody></table>

In [ ]:
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [ ]:
df.groupby(['Year', 'Sector']).var()

<ipython-input-96-447ce32c4bc0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Year', 'Sector']).var()

                                               Completions
Year Sector
2012 Private for-profit, 2-year               3.089531e+04
     Private for-profit, 4-year or above      8.612667e+03
     Private for-profit, less-than 2-year     2.157762e+04
     Private not-for-profit, 2-year           8.282450e+04
     Private not-for-profit, 4-year or above  9.849000e+03
     Public, 2-year                                    NaN
     Public, 4-year or above                  4.266085e+06
2013 Private for-profit, 2-year               3.334096e+04
     Private for-profit, 4-year or above      3.008500e+03
     Private for-profit, less-than 2-year     1.966067e+04
     Private not-for-profit, 2-year           6.516050e+04
     Private not-for-profit, 4-year or above  8.933333e+03
     Public, 2-year                                    NaN
     Public, 4-year or above                  4.228619e+06
2014 Private for-profit, 2-year               2.996696e+04
     Private for-profit, 4-year or above      5.253640e+04
     Private for-profit, less-than 2-year     1.487514e+04
     Private not-for-profit, 2-year           4.470050e+04
     Private not-for-profit, 4-year or above  5.114333e+03
     Public, 2-year                                    NaN
     Public, 4-year or above                  4.559649e+06
2015 Private for-profit, 2-year               3.659573e+04
     Private for-profit, 4-year or above      3.650621e+04
     Private for-profit, less-than 2-year     2.202198e+04
     Private not-for-profit, 2-year           4.176050e+04
     Private not-for-profit, 4-year or above  1.085633e+04
     Public, 2-year                                    NaN
     Public, 4-year or above                  4.913344e+06
2016 Private for-profit, 2-year               2.618345e+04
     Private for-profit, 4-year or above      2.439707e+04
     Private for-profit, less-than 2-year     2.268029e+04
     Private not-for-profit, 2-year           1.036800e+04
     Private not-for-profit, 4-year or above  5.977400e+04
     Public, 2-year                                    NaN
     Public, 4-year or above                  5.107756e+06

In [ ]:
df.groupby('Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [ ]:
df.groupby('Year').describe().transpose()

Year                      2012         2013         2014         2015  \
Completions count    38.000000    40.000000    42.000000    44.000000
            mean    535.078947   526.150000   588.809524   597.250000
            std    1036.433239  1040.474782  1150.355857  1183.371791
            min      13.000000     0.000000     0.000000     0.000000
            25%     114.250000    98.500000   104.500000    87.750000
            50%     229.500000   189.000000   203.500000   191.000000
            75%     420.500000   413.000000   371.750000   405.750000
            max    5388.000000  5278.000000  5093.000000  5335.000000

Year                      2016
Completions count    43.000000
            mean    609.860465
            std    1235.952796
            min       0.000000
            25%      90.000000
            50%     208.000000
            75%     414.000000
            max    5367.000000